<head>
  <link rel="stylesheet" type="text/css" href="/css/book.css">
</head>
<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <button style="margin-right:10px;" class="btn" href="/books">Cancel</button>
    <button class="btn" type="submit">Update</button>
  </div>
</form>