<head>
  <link rel="stylesheet" type="text/css" href="/css/auth.css">
</head>
<form method="POST" action="<%= url %>?_method=DELETE">
    <button type="button" class="btn btn-primary" >Delete</button>

  </form>