<h2>New Article</h2>
<form action="/articles" method="POST">
  <%- include('_form_fields') %>
    <button class="btn" href="/articles">Cancel</button>
    <button class="btn" type="submit">Create Article</button>
</form>