<h1><%= article.title %></h1>

<div class="article-content">
  <div class="text-content">
    <p>Author: <em><%= article.articleAuthor.username %></em></p>
    <p style="font-size: 17px;"><%= article.description %></p>
  </div>
</div>

<a href="/articles">Back to List</a>

