<head>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 style="margin-left:45px;">Register</h2>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                        aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="username"
                        placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                        placeholder="Password">
                </div>
                <label for="exampleInputPassword1">Role</label>
                <select class="form-select" aria-label="Default select example" name="role">
                    <option selected>Choose a role</option>
                    <option value="reader">Reader</option>
                    <option value="writer">Writer</option>
                </select>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</div>